/*CSS document*/
body {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}
div.container {
    max-width: 70em;
    margin: 0 auto;
}
div.containermain {
    margin: 0 auto;
}
section {
    max-width: 40em;
    margin: 0 auto 3em;
}
figure {
    margin: 0;
}
img {
    width: 100%;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1em;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 1.2em;
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.9em;
}
nav ul li a {
    color:rgb(76, 78, 82);
    text-decoration: none;
}
a:hover {
    color: #7392B7;
}
header {
    background-color: rgb(255, 255, 255);
}
h1 {
    font-family: roc-grotesk-extrawide, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: .25em;
    width: 10em;
    /* not in use currently */
}
h2 {
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 0em;
    padding: 0.75em 0em .1em 0em;
    /* used for section heads in mainstory only! */
}
h3 {
    font-family: roc-grotesk-wide, sans-serif;
    margin-bottom: 1em;
    font-weight: 500;
    font-style: normal;
    color: rgb(70, 69, 69);
    line-height: 1.1em;
    font-size: 1.2em;
    /* titles of articles */
}
h4 {
    font-family: greycliff-cf, sans-serif;
    color:rgb(76, 78, 82);
    font-weight: 300;
    font-style: normal;
}
h5 {
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 500;
    padding-top: 0.5em;
    font-style: normal;
    color: rgb(70, 69, 69);
    font-size: 1.5em;
    margin: 0.2em 0 0.75em 0;
    grid-column: 1/4;
    border-top: 1.6px solid black;
}
figcaption {
    font-family: greycliff-cf, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 0.875em;
    color: rgb(70, 69, 69);
    /* padding: 0.5em 1.5em 0.5em 0em;
    */
}
footer {
    margin-top: 3em;
    padding: 0.3em 0em 0em 0em;
    border-top: 1.6px solid black;
}
p {
    font-family: greycliff-cf, sans-serif;
    color:rgb(76, 78, 82);
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
}
a {
    text-decoration: none;
    color:rgb(76, 78, 82);
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
section.secondary p {
    padding-bottom: 0;
}
section.mainstory p {
    padding-bottom: 0;
}
section.tertiary p {
    border-bottom: 1px solid grey;
    padding-bottom: 1.7em;
}
div.sidearticle {
    margin-top: 0.6em;
}
div.sidearticle p {
    border-bottom: 1px solid grey;
    padding-bottom: 1.7em;
}
div.sidearticle h3 {
    margin-top: 0;
}
section.secondary-first p {
    padding-bottom: 0em;
}
@media screen and (min-width: 33em) {
    div.containermain {
        max-width: 33em;
    }
}
@media screen and (min-width: 60em) {
    div.container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 1.25em;
    }
    div.containermain {
        display: grid;
        max-width: 48em;
        grid-template-columns: 2fr 1fr;
        grid-gap: 0 1.25em;
    }
    div.photoandnews {
        grid-column: 1/4;
        display: grid;
        max-width: 54em;
        grid-template-columns: 2fr 1fr;
        grid-gap: 0 1.25em;
    }
    header {
        grid-column: 1/3;
    }
    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 1.25em;
    }
    aside {
        grid-column: 2/3;
    }
    header {
        grid-column: 1/3;
    }
    section.mainstory {
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
    }
    section.mainstory figure {
        flex: 1 0 18em;
        display:flex;
        flex-direction:column;
    }
    section.mainstory figure div {
        flex: 1 0 18em;
        background-image: url(ski.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    section.mainstory div img {
        height: 100%;
    }
    section.mainstory figure div img {
        height: 100%;
        opacity: 0;
    }
    section.mainstory figure figcaption {
        flex: 0 0 3em;
    }
    section.mainstory h3 {
        flex: 0 0 auto;
        margin-bottom: 1em;
    }
    section.mainstory p {
        flex: 0 0 auto;
        margin: 0;
    }
    section.tertiary {
        grid-column: 2/3;
        margin-bottom: 1.75em;
    }
    section.tertiary h3{
        padding: 0em 0em 0em 0em;
        margin: 0;
    }
    section.secondary-first {
        grid-column: 3/4;
        grid-row: 1/2;
    }
}
section.photogallery{
    grid-column: 1/2;
    flex-direction: column;
}
section.news {
    grid-column: 2/3;
    flex-direction: column;
}
div.gallery{
    max-width: 60em;
    margin-top: 0em;
}
div.gallery main {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(74% + 4em);
}
div.gallery figure{
    margin: 0;
    width: calc(100%-2em);
    position: absolute;
    opacity: 0;
    transition: left 0.5s, opacity 1s;
}
div.gallery figcaption {
}
input:nth-of-type(1):checked ~ main figure:nth-of-type(1),input:nth-of-type(2):checked ~ main figure:nth-of-type(2),input:nth-of-type(3):checked ~ main figure:nth-of-type(3),input:nth-of-type(4):checked ~ main figure:nth-of-type(4),input:nth-of-type(5):checked ~ main figure:nth-of-type(5),input:nth-of-type(6):checked ~ main figure:nth-of-type(6),input:nth-of-type(7):checked ~ main figure:nth-of-type(7),input:nth-of-type(8):checked ~ main figure:nth-of-type(8) {
    opacity: 1;
}
div.gallery nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.3em;
    grid-column-gap: 0.5em;
    margin-bottom: 3.5em;
}
div.gallery input {
    display: none;
}
div.news {
    max-width: 40em;
    margin: 1em;
}
section.personal-info ul li{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}
section.personal-info ul li input[type="text"],section ul li input[type="email"],section ul li input[type="tel"],section ul li select {
    flex: 2 0 24em;
    box-sizing: border-box;
}
section.personal-info ul li label {
    flex: 0 0 4em;
}
section.order ul, section.method ul {
    display: flex;
    flex-wrap: wrap;
}
section.order ul li , section.method ul li {
    flex: 1 0 15em;
}
div.news h2 {
    padding-top: 0em;
    margin-top: 0em;
}
div.news ul {
    padding: 0;
    list-style-type: none;
    font-family: greycliff-cf, sans-serif;
    color:rgb(76, 78, 82);
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
}
div.news section {
    background: #eee;
    padding: 1em;
    margin-bottom: 1em;
}
div.news section p {
    margin-top: 0;
}
div.news textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 6em;
    background: #fcfcfc;
    border: 1px solid #e8e8e8;
    padding: 0.4em;
    font-family: sans-serif;
}
@media only screen and (min-width: 40em) {
    div.news {
        margin: auto;
        margin-top: 0;
        grid-column: 1/4;
    }
    